<div class="row">
    <div class="col-4 text-center mt-4" style="color:#85FFFD ;">
        <i class="material-icons" style=" position: relative; top: 3px;"> date_range </i>
        <div class="ml-2 d-inline-flex font-secundary">
            <p> {{date  | date:'longDate' }}</p>
        </div>
    </div>
    <div class="col-4">

    </div>
    <div class="col-4 text-center mt-4 " style="color:#85FFFD ;">
        <i class="material-icons" style="position: relative; top: 3px;"> watch_later</i>
        <div class="ml-2 d-inline-flex font-secundary">
            {{datehour  | date:'shortTime' }}
        </div>
    </div>
</div>
<div class="row">
    <div class="col-12">
        <div class="text-center font-primary-aforo m-4"> Aforo actual</div>
    </div>
</div>

<div *ngIf="chartOptions" id="chart" style=" position: relative; top: -6vh;">
    <apx-chart [series]="chartOptions.series" [chart]="chartOptions.chart" [plotOptions]="chartOptions.plotOptions"
        [labels]="chartOptions.labels" [fill]="chartOptions.fill" [colors]="chartOptions.colors"
        [dataLabels]="chartOptions.dataLabels">
    </apx-chart>
</div>


<div class="row media-xlg" *ngIf="chartOptions">
    <div class="col-12 text-center" style="position: relative;
    top: -17vh;
    font-size: 16vh;
    font-weight: 500;">
        <label style="color: white; ">123</label>
    </div>

    <div class="col-6">
        <div class="text-center" style="color: white; font-size: 2.5vh;">Mínimo <br> 1 persona</div>
    </div>
    <div class="col-6">
        <div class="text-center" style="color: white; font-size: 2.5vh;">Máximo <br> {{ capacidad }} personas</div>
    </div>
</div>

<div class="row justify-content-center mb-4" style="    position: relative;
top: -30vh;">
    <div class="col-10 m-2 mb-4">
        <div class="background-primary">
            <div class="text-center font-white p-5">
                <i class="material-icons" style="font-size: 70px ; position: relative; top: 8px;"> home</i>
                <div class="ml-3 d-inline-flex">{{ porcentaje_aforo }}%</div>
                <div class="font-white-min ">Porcentaje de ocupación</div>
            </div>
        </div>
    </div>
    <div class="col-5 ">
        <div class="background-primary">
            <div class="text-center font-white p-5">
                <div class="font-white-min text-rigth">Máximo permitido</div>
                <i class="material-icons" style="font-size: 70px ; position: relative; top: 8px;">groups</i>
                <div class="ml-4  d-inline-flex">{{ capacidad }}</div>
                <div class="font-white-min text-rigth ml-4" style="font-size: 25px !important;">Personas</div>
            </div>
        </div>
    </div>
    <div class="col-5 ">
        <div class="background-primary">
            <div class="text-center font-white p-5">
                <div class="font-white-min text-rigth">Aún pueden entrar</div>
                <i class="material-icons" style="font-size: 70px ; position: relative; top: 8px;">groups</i>
                <div class="ml-4  d-inline-flex">{{ disponible }}</div>
                <div class="font-white-min text-rigth ml-4" style="font-size: 25px !important;">Personas</div>
            </div>
        </div>
    </div>

</div>