.font-primary-aforo {
  color: var(--unnamed-color-ffffff);
  text-align: left;
  font: normal normal bold 95px/126px Roboto;
  letter-spacing: 0px;
  color: #ffffff;
  opacity: 1;
}

.font-secundary {
  justify-items: center;
  align-content: center;
  font: normal normal bold 25px/33px Roboto;
  letter-spacing: 0px;
  color: #85fffd;
  opacity: 1 !important;
}

.font-white {
  color: var(--unnamed-color-ffffff);
  text-align: center;
  font: normal normal bold 70px/92px Roboto;
  letter-spacing: 0px;
  color: #ffffff !important;
  opacity: 1 !important;
}

.font-white-min {
  text-align: center;
  font: 26px Roboto !important;
  letter-spacing: 0px;
  color: #ffffff !important;
  opacity: 1 !important;
  font-weight: 500 !important;
}

.background-primary {
  background: #1f33b0;
  border-radius: 12px;
}

.media-xlg {
  position: relative;
  top: -54vh;
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 1229px) {
  .media-xlg {
    position: relative;
    top: -54vh;
  }
}

@media (max-width: 1150px) {
  .col-md-12 {
    flex: 0 0 100%;
    max-width: 100%;
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1250px) {
  .media-xlg {
    position: relative;
    top: -44vh;
  }
}

#chart {
  padding: 0;
  max-width: 100%;
  margin: 0;
}
