<app-header></app-header>
<div class="container-fluid" style="background: #031280; ">
    <div class="container">


        <app-aforo></app-aforo>

        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="container">
                        <div class="text-center">
                            <img src="assets/images/omia.png" alt="" class="img-fluid"
                                style="position: relative; top: -0.4vh; max-width: 50vh !important;">
                        </div>
                        <div class="row ">
                            <div class="col-6 ">
                                <h4 class="text-center">hola</h4>
                            </div>
                            <div class="col-6">
                                <h4 class="text-center">hola</h4>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
        <app-footer>
        </app-footer>
    </div>
</div>